.home-blog .hero {
    background:url("/nanjiu/bg3.jpeg") center center / cover no-repeat !important;
}
.hero h1, .hero .description  {
    color: #fff !important;
}
.dark {
    .home-blog .hero {
        background:url("/nanjiu/bg2.jpg") center center / cover no-repeat !important;
    }
}